hydra-core
librosa
pyannote.core >=4.1,<5.0
pytorch-lightning >= 1.4,<1.5
pytorch_metric_learning >=0.9.98
soundfile >=0.10.2,<0.11
torch >=1.8.1,<1.9
torch-audiomentations >=0.6.0
torchaudio >=0.8.1,<0.9
typing_extensions >=3.7.4.3
